@model TT_FrontEnd.Models.Workspace

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Workspace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkspaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkspaceName)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.WorkspaceID }, new { @class = "glyphicon glyphicon-pencil" }) |
	@Html.ActionLink("Back", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
</p>
