
@{
	ViewBag.Title = "Help";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="Help">Help</h1>
<h2 id="Index">Index</h2>
<ul>
	<li><a href="#Brand">Brand</a></li>
	<li><a href="#Borrower">Borrower</a></li>
	<li><a href="#Workspace">Workspace</a></li>
	<li><a href="#Tool">Tool</a></li>
	<li><a href="#Loan">Loan</a></li>
	<li>
		<a href="#Reports">Reports</a>
		<ul>
			<li><a href="#Report-Loaned">Loaned Tools</a></li>
			<li><a href="#Report-Inventory">Tool Inventory</a></li>
			<li><a href="#Report-Count">Borrow Count</a></li>

		</ul>
	</li>
</ul>
<div id="Brand" />
<h2 id="Brand">Brand</h2>
<img class="BoxShadow" src="~/Content/images/Brand.png" />

<p>The Brand page shows the list of Tool Brands stored in the database.</p>
<p>Select [New] to create a new Brand.</p>
<p>Select [Edit] to modify the details of the brand.</p>
<p>Select [Details] to show the details of the brand.</p>
<p>Select [Delete] to remove the brand.</p>

<p><a href="Help">☝️ Back to Index</a></p>
<h2 id="Borrower">Borrower</h2>
<img class="BoxShadow" src="~/Content/images/Borrower.png" />
<p>The Borrower page shows the list of Borrowers stored in the database.</p>
<p>Select [New] to create a new Borrower.</p>
<p>Select [Edit] to modify the details of the Borrower.</p>
<p>Select [Details] to show the details of the Borrower.</p>
<p>Select [Delete] to remove the Borrower.</p>
<p>	<a href="Help">☝️ Back to Index</a></p>

<h2 id="Workspace">Workspace</h2>
<img class="BoxShadow" src="~/Content/images/Workspace.png" />
<p>The Workspace page shows the list of Workspaces stored in the database.</p>
<p>Select [New] to create a new Workspace.</p>
<p>Select [Edit] to modify the details of the Workspace.</p>
<p>Select [Details] to show the details of the Workspace.</p>
<p>Select [Delete] to remove the Workspace.</p>
<p>	<a href="Help">☝️ Back to Index</a></p>


<h2 id="Tool">Tool</h2>
<img class="BoxShadow" src="~/Content/images/Tool.png" />
<p>The Tool page shows the list of Tools stored in the database.</p>
<p>Select [New] to create a new Tool.</p>
<p>Select [Edit] to modify the details of the Tool.</p>
<p>Select [Details] to show the details of the Tool.</p>
<p>Select [Delete] to remove the Tool.</p>
<p>	<a href="Help">☝️ Back to Index</a></p>

<h2 id="Loan">Loan</h2>
<img class="BoxShadow" src="~/Content/images/Loan.png" />
<p>The Loan page shows the list of Loans stored in the database.</p>
<p>Select [New] to create a new Loan.</p>
<p>Select [Edit] to modify the details of the Loan.</p>
<p>Select [Details] to show the details of the Loan.</p>
<p>Select [Delete] to remove the Loan.</p>
<p>	<a href="Help">☝️ Back to Index</a></p>

<h2 id="Reports">Reports</h2>

<h4 id="Report-Loaned">Loaned Tools</h4>
<img class="BoxShadow" src="~/Content/images/Report-Loaned.png" />
<p>	The Loaned Report shows details of all tools that are currently lent out.</p>
<p>	Press [Save to CSV] to export the list data to a Comma Seperated Value file.</p>
<p><a href="Help">☝️ Back to Index</a></p>

<h4 id="Report-Inventory">Tool Inventory</h4>
<img class="BoxShadow" src="~/Content/images/Report-Inventory.png" />
<p>	The Tool Inventory Report shows details of all tools that are currently lent out.</p>
<p>	Press [Search] to filter the results where the Brand Name or Tool Name matches the text in the Search text field.</p>
<p>	Press [Save to CSV] to export the list data to a Comma Seperated Value file.</p>
<p><a href="Help">☝️ Back to Index</a></p>

<h4 id="Report-Count">Borrow Count</h4>
<img class="BoxShadow" src="~/Content/images/Report-BorrowCount.png" />
<p> The Tool Borrow Count report shows a list of all tools, adn the numebr of times they have been Borrowed.</p>
<p> Below this is a chart that shows this informatino graphically.</p>
<p><a href="Help">☝️ Back to Index</a></p>

