<div class="jumbotron">
    <h1>Tool Tracker</h1>

</div>
<div class="row">
	<div class="col-md-4">
		<h2>Help</h2>
		<p>
			Click below to view Help for this application.
		</p>
		<p>  
			  @Html.ActionLink("Help »", "Help", "Home", new { area = "" }, new {@class= "btn btn-default" }) </p>
	</div>
	<div class="col-md-4">
		<h2>About</h2>
		<p>
			Tool Tracker is an application developed to manage the borrowing of tools for the 
			St. Jude Community Workshoop.
		</p>

	</div>
	<div class="col-md-4">
		<h2>Acknowledgements</h2>
		<p>
			The Following Thrid Parties Applications are used:
		</p>
		<h4> Alertify JS</h4>
		<p>Author: Mohammad Younes</p>
		<p><a class="btn btn-default" href="https://alertifyjs.com/">AlertifyJS &raquo;</a></p>
		<h4> jQueryFileDrop</h4>
		<p>Author: Piotr Sobczak</p>

		<p><a class="btn btn-default" href="https://github.com/weixiyen/jquery-filedrop">Filedrop &raquo;</a></p>
	</div>

</div>
