body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* The stype for Drag and Drop area*/
#dropArea {
	background: #bbb;
	border: #888 dashed 2px;
	height: 100%;
	width: 480px;
	text-align: center;
	color: #fff;
	padding-top: 12px;
}

.active-drop {
	background: #8be !important;
	border: solid 2px #ddd !important;
	opacity: .5;
	color: black !important;
}